<!DOCTYPE html>
<html lang="en">
<head>

	<%- await view(request, "admin/head") %>

	<style>
	
		.comments>* {

			display: inline-block;
			
		}

	</style>

</head>
<body>
	
	<%- await view(request, "admin/menu") %>

	<div class="app_body">

		<h1>Comments</h1>

		<div class="panel">

			<h2>API</h2>

			<table>

				<tbody>

					<tr>

						<th>Path</th>
						<th>Description</th>
						<th>Fields</th>

					</tr>

					<tr>

						<td><code>/api/comments/add</code></td>
						<td>POSTs a new comment into the database</td>
						<td><code>title, author, content</code></td>

					</tr>

				</tbody>

			</table>

		</div>

		<div class="panel">

			<h2>Manage Comments</h2>

			<div class="comments">

					<% for (_comment of comments) { %>

						<div class="panel">
	
							<h3 style="margin: 0px;"><%= _comment.fields.title %></h3>
							<span>From <strong><%= _comment.fields.author %></strong> on page <strong><%= elements.find(_ => _.id === _comment.fields.element) ? (elements.find(_ => _.id === _comment.fields.element).fields.title || _comment.fields.element) : _comment.element %></strong> on <strong><%= new Date(_comment.fields.date).toUTCString() %></strong></span>

							<p><%= _comment.fields.content %></p>
							
							<form action="/admin/comments/delete_comment" method="POST">
							
								<input type="hidden" name="id" value="<%= _comment.id %>">

								<input type="submit" value="Delete" class="btn">

							</form>

						</div>
	
					<% } %>

			</div>

		</div>

	</div>

</body>
</html>
